.cache
.fehbg
Downloads/
.local
.lesshst
.lyxauth
.pki
.screenlayout
.vim
.viminfo
.Xauthority
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh
.bash_history
.bash_logout
.bash_profile
.bashrc
.histfile
.oh-my-zsh
.config/microsoft-edge
.config/pulse
.config/xfce4
.config/pavucontrol.ini
.config/neofetch
.config/Thunar
.config/dconf
